@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

h1 {
  font-family: "Kalam", cursive;
}

.main-wrapper {
  background: url('/public/images/bg.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  padding: 5rem 0;
}

.title {
  padding: 2rem 3rem;
  text-align: center;
  font-size: 7rem;
  color: #256e25;
  border: 10px solid;
  border-radius: 25px;
  border-style: double;
  backdrop-filter: blur(3px);
}
